.app-footer {
    background-color: #f9f9f9; 
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-image: url('src/assets/images/footer.jpg');;
    font-family: Arial, sans-serif;
}

.footer-column {
    margin: 0 10px;
    min-width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #013065;
}

.footer-column p {
    font-size: 16px;
    margin: 5px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    text-align: start;
}

.footer-column ul li {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
    span {
        font-weight: 600;
        color: #637381;
    }
}

/* .footer-column ul li::before {
    content: "—";
    margin-right: 5px;
} */

.certification {
    width: 60px;
    height: auto;
    margin-top: 10px;
}

.company {
    flex: 1;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.download .app-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: start;
    img {
        width: 230px;
    }
}

.app-store {
    width: 120px;
    height: auto;
}

.language-toggle {
    background: none;
    border: none;
    color: #013065;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.red-dot {
    color: red;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .app-footer {
        padding: 20px 100px;
    }
}

@media (max-width: 768px) {
    .app-footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin: 15px 0;
    }

    .download .app-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}